In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import xgboost as xgb
from sklearn.tree import DecisionTreeClassifier

# Multiple Linear Regression

In [23]:
import warnings
warnings.filterwarnings("ignore")

In [24]:
data = pd.read_csv("bank.csv" , sep = ";") # importing Data, sep = ";"
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [25]:
data.isnull().sum() # Checking Null Values

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [27]:
data["y"] = data.y.map({"yes" : 1 , "no" : 0}) #Label enconding the final output to 0 - 1
data

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,0
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,1
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,0

In [28]:
# One-hot encode the Categorical columns
# Split your data into features (X) and the target variable (y)
X = pd.get_dummies(data.drop(columns=['y'] , axis = 1)) 
y = data.y

# Split the data into a training set and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and fit a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model using metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

Mean Squared Error (MSE): 0.07
R-squared (R2) Score: 0.35

## Multiple Linear Regression Metrics

In [37]:
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"R-squared (R2) Score: {r2:.2f}")

Mean Squared Error (MSE): 0.07
R-squared (R2) Score: 0.35

# Decision Tree

In [30]:
data = pd.read_csv("bank.csv" , sep = ";") # importing Data, sep = ";"
data["y"] = data.y.map({"yes" : 1 , "no" : 0}) #Label enconding the final output to 0 - 1
X = pd.get_dummies(data.drop(columns=['y'] , axis = 1)) 
y = data.y

In [32]:

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a DecisionTreeClassifier
dt_classifier = DecisionTreeClassifier()

# Define a parameter grid to search through
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 5, 10, 15, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': [None, 'sqrt', 'log2']
}

# Create a GridSearchCV object
grid_search = GridSearchCV(estimator=dt_classifier, param_grid=param_grid, scoring='accuracy', cv=5)

# Fit the grid search to the training data
grid_search.fit(X_train, y_train)

# Get the best model from the grid search
best_dt = grid_search.best_estimator_

Accuracy: 0.92

## Decision Tree Metrics

In [33]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

# Calculate precision
precision = precision_score(y_test, y_pred, average='weighted')  # 'weighted' takes class imbalance into account

# Calculate recall
recall = recall_score(y_test, y_pred, average='weighted')  # 'weighted' takes class imbalance into account

# Calculate F1 score
f1 = f1_score(y_test, y_pred, average='weighted')  # 'weighted' takes class imbalance into account

# Generate a classification report
classification_rep = classification_report(y_test, y_pred)

# Generate a confusion matrix
confusion_mat = confusion_matrix(y_test, y_pred)

# Print the metrics
print(f'Accuracy: {accuracy:.2f}')
print(f'Precision: {precision:.2f}')
print(f'Recall: {recall:.2f}')
print(f'F1 Score: {f1:.2f}')

# Print the classification report
print('\nClassification Report:\n', classification_rep)

# Print the confusion matrix
print('\nConfusion Matrix:\n', confusion_mat)

Accuracy: 0.92
Precision: 0.91
Recall: 0.92
F1 Score: 0.91

Classification Report:
               precision    recall  f1-score   support

           0       0.94      0.96      0.95      7303
           1       0.65      0.54      0.59       935

    accuracy                           0.92      8238
   macro avg       0.80      0.75      0.77      8238
weighted avg       0.91      0.92      0.91      8238


Confusion Matrix:
 [[7031  272]
 [ 428  507]]

# XGBoost

In [35]:
data = pd.read_csv("bank.csv" , sep = ";") # importing Data, sep = ";"
data["y"] = data.y.map({"yes" : 1 , "no" : 0}) #Label enconding the final output to 0 - 1
data = data.drop(columns= ["euribor3m"] , axis = 0) # Dropping not so important columns

#Changing Object data types to categorical

data.job = data.job.astype("category")
data.marital = data.marital.astype("category")
data.education = data.education.astype("category")
data.default = data.default.astype("category")
data.housing = data.housing.astype("category")
data.loan = data.loan.astype("category")
data.contact = data.contact.astype("category")
data.month = data.month.astype("category")
data.day_of_week = data.day_of_week.astype("category")
data.poutcome = data.poutcome.astype("category")

# Create an XGBoost classifier
xgb_classifier = xgb.XGBClassifier(objective='binary:logistic', random_state=42)

# Define a parameter grid to search over
param_grid = {
    'n_estimators': [100, 200, 300],   # Number of trees (you can customize)
    'max_depth': [3, 4, 5],           # Maximum tree depth (you can customize)
    'learning_rate': [0.1, 0.01, 0.001],  # Learning rate (you can customize)
}


data_encoded = pd.get_dummies(data)
# Split the dataset into features (X) and target (y)
X = data_encoded.drop('y', axis=1)
y = data_encoded['y']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)



# Define the parameter grid for GridSearchCV

param_grid = {
    'objective': ['multi:softmax'],  # For multiclass classification
    'eval_metric': ['mlogloss'],     # Evaluation metric
    'num_class': [len(data['y'].unique())],  # Number of unique categories
    'max_depth': [3, 4, 5],  # Example hyperparameter options
    'learning_rate': [0.1, 0.01, 0.001]  # Example hyperparameter options
}


# Create an XGBoost classifier
xgb_classifier = xgb.XGBClassifier()

# Create a GridSearchCV object
grid_search = GridSearchCV(estimator=xgb_classifier, param_grid=param_grid,
                           scoring='accuracy', cv=5, verbose=1)



# Perform the grid search
grid_search.fit(X_train, y_train)

# Get the best model from the grid search
best_model = grid_search.best_estimator_

# Make predictions using the best model
y_pred = best_model.predict(X_test)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

# XGBoost Metrics

In [36]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report, confusion_matrix

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

# Calculate precision
precision = precision_score(y_test, y_pred, average='weighted')  # 'weighted' takes class imbalance into account

# Calculate recall
recall = recall_score(y_test, y_pred, average='weighted')  # 'weighted' takes class imbalance into account

# Calculate F1 score
f1 = f1_score(y_test, y_pred, average='weighted')  # 'weighted' takes class imbalance into account

# Generate a classification report
classification_rep = classification_report(y_test, y_pred)

# Generate a confusion matrix
confusion_mat = confusion_matrix(y_test, y_pred)

# Print the metrics
print(f'Accuracy: {accuracy:.2f}')
print(f'Precision: {precision:.2f}')
print(f'Recall: {recall:.2f}')
print(f'F1 Score: {f1:.2f}')

# Print the classification report
print('\nClassification Report:\n', classification_rep)

# Print the confusion matrix
print('\nConfusion Matrix:\n', confusion_mat)

Accuracy: 0.92
Precision: 0.91
Recall: 0.92
F1 Score: 0.91

Classification Report:
               precision    recall  f1-score   support

           0       0.94      0.97      0.95      7303
           1       0.68      0.52      0.59       935

    accuracy                           0.92      8238
   macro avg       0.81      0.74      0.77      8238
weighted avg       0.91      0.92      0.91      8238


Confusion Matrix:
 [[7080  223]
 [ 451  484]]